<div class="profile">
	<aside>
		<div class="row">
			<div class="thumbnail album-art">
		       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1M4vrkImEnSkgFYhX7wHJ1vKZ4J07qT2j1xIj1FShQOLvGj0d" alt="album image">
		 		<p>Name: <%= @user.name %></p>
		 		<p>City: <%= @user.city %></p>
		 		<p>Email: <%= @user.email %></p>
		    </div>
		</div>
	</aside>


	<section>
		<% @reviews.each do |review| %>
			<div class="user-review-border">
				<div class="user-review-card">
					<div class="card-body-user">
					   <h5 class="card-title-user"><%= review.title %></h5>
					   <p class="card-text-user"><%= review.description %></p>

					</div>
				</div>
					<div class= "reviews-buttons">
						<%= link_to "Edit", edit_user_location_review_path(current_user.id, review.location_id, review.id), class: "btn btn-secondary" %>
						<%= button_to "Delete", destroy_review_path(current_user.id, review.location_id, review.id), method: :delete, class: "btn btn-danger" %>
					</div>
			</div>
		<% end %>
	</section>

</div>




















