<div class="profile">

	<div class="row">
		<div class="thumbnail album-art">
	       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1M4vrkImEnSkgFYhX7wHJ1vKZ4J07qT2j1xIj1FShQOLvGj0d" alt="album image">
	 		<p><%= @user.name %>!</p>
	 		<p><%= @user.city %></p>
	 		<p><%= @user.email %></p>
	    </div>
	</div>

	<section>
		<% @reviews.each do |review| %>
			<div class="card w-75 h-25">
				 <div class="card-body">
				   <h5 class="card-title"><%= review.title %></h5>
				   <p class="card-text"><%= review.description %></p>
				   <%= link_to "Edit", edit_user_location_review_path(current_user.id, review.location_id, review.id), class: "btn btn-secondary", id: "card-button" %>
				   <%= button_to "Delete", destroy_review_path(current_user.id, review.location_id, review.id), method: :delete, class: "btn btn-danger"%>
				 
				 </div>
			</div>
		<% end %>
	</section>

</div>



















