<div class="profile">
	<aside>
		<img class= "profilepic" src="<%= @user.picture %>">
 		 <p><%= @user.name %>!</p>
 		 <p><%= @user.city %></p>
 		 <p><%= @user.email %></p>
	</aside>

	<section>
		<% @reviews.each do |review| %>
			<div class="card w-75 h-25">
				 <div class="card-body">
				   <h5 class="card-title"><%= review.title %></h5>
				   <p class="card-text"><%= review.description %></p>
				   <a href="#" class="btn btn-primary">Edit</a>
				   <a href="#" class="btn btn-danger">Delete</a>
				 </div>
			</div>
		<% end %>
	</section>

</div>






















