
<nav class="navbar navbar-expand-lg navbar-light  center">
  <%= link_to "TRAVEL-TIPS", root_path, class: "navbar-brand" %>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="nav navbar-nav navbar-right ">
        <% if current_user %>
          <%= link_to "PROFILE", user_path(current_user), class: "nav-item-nav-link" %>
          <%= link_to "LOG OUT", logout_path, class: "nav-item-nav-link" %>
        <% else %>
          <%= link_to "CREATE ACCOUNT", new_user_path, class: "nav-item-nav-link" %>
          <%= link_to "LOG IN", login_path, class: "nav-item-nav-link" %>
        <% end %>

    </div>
  </div>
</nav>

    