<div class="jumbotron", style="background-image: url(<%= @location.photo %>)"></div>
<h1 class="pgecity"> <%= @location.city %> </h1>
<h3 class="pgedesc"> <%= @location.text %> </h3>

<h4 class="travelTitle">Travel Hints To Perfect Your Trip!</h4>



<div class="review-body">
	
<!-- Button trigger modal -->
	<div class="review-button">
		<%= link_to "Write a Review", new_user_path, class:"btn btn-primary"%>
	</div>


<!-- Review Section -->
	<div class="review-review">
		<% @reviews.each do |review| %>
			<div class="card-reviews">
				 <div class="card-body">
				   <h5 class="card-title-location"><%= review.title %></h5>
				   <p class="card-text-location"><%= review.description %></p>
				   
				 </div>
				 <hr>
			</div>
		<% end %>
<!-- End Review Section -->
	</div>

</div>







<% if current_user %>
<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Write a review</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <%= form_for ([@user, @location, @review]) do |f| %>
			  <div>
			    <%= f.text_field :title, placeholder: "Title", size: "56.8" %>
			  </div>
			  <div>
			    <%= f.text_area :description, placeholder: "Description", :rows => 10, style: 'width:100%;' %>
			  </div>

		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <%= f.submit "Submit", class:"btn btn-secondary"%>
		      </div>
			  
			<% end %>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- End Modal Section -->
<% else %>
	
<% end %>





