<!DOCTYPE html>
<html>
  <head>
    <title>TravelTips</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-Nzjs7_tFD422Ki5K7tzHq3JcmxLF41zakvJ-zzBtsoTj_jXDMA">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/navbar" %>

    <% flash.each do |name, msg| %>
      <p>
        <small> <%= name.capitalize %>: <%= msg %> </small>
      </p>
    <% end %>
    
    <%= yield %>

    <footer>
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
